html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
body {
    color: #333333;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
	font-weight:400;
	background-color:#fff;
}
:root {
    --blackColor:  #000;
    --blackLightColor: #333333;
    --blackLightColor2: rgba(51, 51, 51, 0.4);
    --whileColor: #fff;
    --yellowColor: #FFB800;
    --skyColor: #319AE5;
    --greenColor: #39A54C;
}

/*----- typegraphy---------*/
h1{
    font-size: 45px;
    line-height: 56px;
    padding-bottom: 32px;
}
h2{
    font-size: 43px;
    line-height: 52px;
    padding-bottom: 28px;
}
h3 {
    font-size: 36px;
    line-height: 50px;
    padding-bottom: 25px;
}
h4 {
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 20px;
}
h5 {
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 18px;
}
h6 {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 16px;
}
p {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 22px;
}
span {
    font-size: 13.2px;
    line-height: 21px;
    display: block;
    width: max-content;
    padding-bottom: 16px;
}
small {
    font-size: 12px;
    line-height: 12px;
    display: block;
    width: max-content;
    padding-bottom: 16px;
}
strong {
    font-size: 20px;
    line-height: 30px;
    display: block;
    width: max-content;
    padding-bottom: 16px;
}

ol li,
ul li {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 22px;
}

@media screen and (max-width: 991px) {
    h1{
        font-size: 43px;
        line-height: 52px;
    }
}

@media screen and (max-width: 766px) {
    h1{
        font-size: 28px;
        line-height: 35px;
    }
    h2{
        font-size: 28px;
        line-height: 34px;
    }
    h3{
        font-size: 26px;
        line-height: 36px;
    }
    h4{
        font-size: 19px;
        line-height: 21px;
    }
    h5{
        font-size: 24px;
        line-height: 26px;
    }
    h5{
        font-size: 18px;
        line-height: 27px;
    }
    h6 {
        font-size: 18px;
        line-height: 26px;
    }
    strong {
        font-size: 18px;
        line-height: 27px;
    }
    p {
        font-size: 14px;
        line-height: 24px;
    }
}

ul, ol, li {
    list-style: none;
}
img, fieldset {
    border: none;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out 0.1s;
    -o-transition: all 0.2s ease-out 0.1s;
    transition: all 0.2s ease-out 0.1s;
}
a:hover {
    text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
figure {
    margin: 0;
    padding: 0;
}
.clearfix {
    clear: both;
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
embed, iframe, object, video {
    max-width: 100%;
}
html {
    -webkit-text-size-adjust: none;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
.wp-caption {
    border: none;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 0 10px 0;
}
.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 12px;
}
.wp-caption p.wp-caption-text {
    line-height: 18px;
    padding: 0 15px;
    display: block;
    font-style: italic;
    color: #000000;
    font-size: 12px;
}
input, textarea {
    -webkit-border-radius: 0;
	-webkit-appearance: none;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[placeholder], [placeholder], *[placeholder] {
	font-family: 'Rubik', sans-serif;
	color: inherit;
}
*::-webkit-input-placeholder {
color:inherit;
}
*:-moz-placeholder {
 color:inherit;
 opacity:  1;
}
*::-moz-placeholder {
 color:inherit;
 opacity:  1;
}
*:-ms-input-placeholder {
color:inherit;
}

.w-100,
.w_100 { width: 100%; }
.tbl_view,
.mb_db,
.only_mobile_view { display: none !important; }
.only_desktop_view {}
.center_content {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}
.flex-wrap {
    display:flex;
    flex-wrap:wrap;
}
.flex-nowrap {
    display:flex;
    flex-wrap:nowrap;
}
.align-center {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}
.flex-space-between {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.justify-content-center{ justify-content: center; }
.row-reverse { flex-flow: row-reverse; }
.flex-row-reverse{flex-flow: row-reverse;}
.flex-row-none { flex-flow: inherit !important;}

/*---------- header_container ----------*/
.header_container {}
.fixed_header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    margin: 0 auto;
}
.top_mbArea {}

/*------ header_area ------*/
.header_area {
    background-color: var(--whileColor);
    padding: 0 24px;
}
.header_wrap {
    padding: 15px 0;
}
.header_bx {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.logo {
    width: 120px;
}
.logo_mx {
    width: 100%;
}
.logo_mx img {
    width: 100% !important;
}

.right_header {
    width: 91%;
    position: relative;
    padding-left: 22px;
}
.right_headerInner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/*-------- rating_wrap --------*/
.rating_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 19.5%;
}
.rating_inner_bx {
    display: flex;
    align-items: center;
    width: 100%;
}
.rating_box {
    width: 100%;
    max-width: 109px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
}
.star_box_wrap {
    padding: 0;
}
.feedback_star {
    position:relative;
    margin-right:3px
}
/* .star_box .svg-inline--fa { */
.star_box .hydrated {
    color: var(--yellowColor);
    font-size: 17px;
    line-height: 1;
    margin-right: 0;
}
.star_box .star-emtry { color: var(--yellowColor);}
.feedback_star .star_box {
    overflow:hidden;
    position:relative;
}
.feedback_star .star_box_inner {
    width:90px;
    height:17px;
    position:absolute;
    left:0;
    top:0;
    z-index:2;
}
.star_box_hover {
    /* width:106px;
    min-width: 106px;
    overflow:hidden; */
}
/* .star_box_hover .svg-inline--fa { */
.star_box_hover .hydrated {
    color: var(--yellowColor);
}
.star_box_wrap span {
    color: var(--blackLightColor);
    padding: 0;
}

.total_review {
    margin: 0;
}
.total_review span {
    color: var(--blackLightColor);
    padding: 0 20px 0 0;
    background-image: url('assets/images/clarity_eye.png');
    background-repeat: no-repeat;
    background-position: right top 7px;
    background-size: 15px auto;
}
.logo_klanten {
    width: 49px;
    margin-top: 1px;
}

/*----------- marquee -----------*/
.marquee_style_area {
    width: 80.5%;
    position: relative;
    background-color: transparent;
    order: 2;
    padding: 0 ;
}
/* .width_manage.width_less .marquee_style_area { padding-right: 0px; } */
/* .width_less .marquee_style_area { padding-right: 412px; } */
.marquee_style {
    min-height: 100%;
    background-color: transparent;
    position: relative;
    padding: 5px 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.marquee_style .marquee,
.marquee_style .marquee-with-options,
.marquee_style .marquee-vert-before,
.marquee_style .marquee-vert {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 48px;
}
.marquee_style .js-marquee,
.marquee_style .js-marquee-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.news_wrap {
    width: 100%;
}
.marquee_style .marquee_item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.marquee_style .marquee_item_box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: auto;
    padding-right: 11px;
}
.marquee_style .marquee_item_box:last-child { padding-right: 0; }
.marquee_style .marquee_item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    position: relative;
}
.marquee_style .marquee_item_icon img {
    width: 23px !important;
    height: auto;
}
.marquee_style .marquee_item_prices {
    padding-left: 9px;
}
.marquee_style .marquee_item_box:last-child .marquee_item_prices {
    padding-left: 9px;
}
.marquee_style .marquee_item_prices span {
    color: var(--blackLightColor);
    padding: 0;
    width: initial;
}

.marquee_style_area .request_btn_wrap {
    position: absolute;
    width: 150px;
    height: 35px;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
}

.marquee_style_area .request_btn {
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
    color: #102a66;
    width: 100%;
    height: 100%;
    border: 1px solid #7cc344;
    background-color: #89ce52;
    border-radius: 5px;
}

.common_btn,
.header_btn {
    padding: 10px 35px;
    height: 58px;
    width: max-content;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--whileColor);
    border: 1px solid var(--whileColor);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.common_btn:hover,
.header_btn:hover {
    background-color: #39A54C;
    box-shadow: 7px 7px 30px -3px rgba(0, 0, 0, 0.2);
    border-color: #39A54C;
}

@media screen and (max-width:1440px ){
    .header_area {
        padding: 0 6.55vw;
    }
}

@media screen and (max-width:1366px ){
    .header_area {
        padding: 0 4.2vw;
    }
}

@media screen and (max-width:1280px ){
    .header_area {
        padding: 0 4.35vw;
    }
}

@media screen and (max-width:991px ){
    .header_area { padding: 0 34px; }
    .header_bx {
        justify-content: space-between;
    }
    .marquee_style_area {
        width: 100%;
        background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    }
    .marquee_style { padding: 0 2px; }
    .marquee_style .marquee_item_prices {
        min-width: 270px;
    }
    .marquee_style .marquee_item_icon img {
        filter: brightness(0) invert(1);
    }
    .marquee_style .marquee_item_prices span {
        color: var(--whileColor);
    }

    .rating_wrap {
        justify-content: flex-end;
        width: 100%;
    }
    .rating_inner_bx {
        width: 100%;
        justify-content: flex-end;
    }
    .right_header {
        width: auto;
        padding-left: 0;
    }
}

@media screen and (max-width:766px ){
    .logo {
        width: 76px;
    }
    .header_area { padding: 0 24px; }
}

/*---------- banner_main_container ----------*/
.banner_area {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}
.banner_wrap {
    padding: 76px 0;
}
.banner_bx {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
}
.banner_left {
    width: 52.23%;
    padding-right: 46px;
}
.banner_leftMx {
    width: 100%;
}
.banner_title { padding-bottom: 32px; }
.banner_title small {
    padding: 0 0 5px 0;
    font-weight: 400;
    font-size: 13.2px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: inherit;
    color: var(--whileColor);
    position: relative;
}
.banner_title small::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
}
.banner_title h1 {
    font-weight: 600;
    color: var(--whileColor);
    padding-bottom: 12px;
}
.banner_title h6 {
    font-weight: 500;
    color: var(--whileColor);
    padding: 0;
}

.banner_list { padding-bottom: 32px; }
.banner_list ul {}
.banner_list ul li {
    font-weight: 400;
    color: var(--whileColor);
    margin-bottom: 12px;
    padding: 0;
}
.banner_list ul li span {
    background-image: url('assets/images/check_list.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px auto;
    display: inline-block;
    min-height: 25px;
    padding-left: 32px;
    padding-bottom: 0;
    width: initial;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.banner_list ul li:last-child { margin-bottom: 0; }

/*======= form_area =======*/
.thanks_only .form_area {
    display: flex;
    align-items: center;
}
.form_area {
    width: 47.76%;
}
.banner_form_wrap {
    position: relative;
    padding-left: 92px;
}

.banner_left_title { display: block; }
.left_rebbon_batch {
    position: absolute;
    width: 92px;
    min-height: 84px;
    height: auto;
    top: 34px;
    left: 0;
    z-index: 1;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    box-shadow: 7px 7px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 12px 0px 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
}
.left_rebbon_batch small {
    line-height: 21px;
    text-transform: uppercase;
    color: var(--whileColor);
    padding: 0;
    width: initial;
    text-align: center;
}
.right_rebbon_batch {
    position: absolute;
    width: 104px;
    height: 104px;
    right: 0;
    top: -1px;
    z-index: 1;
    background-image: url('assets/images/ribon_batch.svg');
    background-repeat: no-repeat;
    background-position: right top;
}
.right_rebbon_batch small {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(45.79deg);
    padding: 15px 0 0 36px;
    width: inherit;
}
.banner_form_bg {
    background-color: var(--whileColor);
    box-shadow: 7px 7px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 12px 12px 0px 0px;
    padding: 32px;
    padding-bottom: 24px;
}
.banner_form_bgMx {
    width: 100%;
}
.thanks_step_bx {
    display: none;
}
.thanks_step_bx h1 {
    padding-bottom: 12px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.thanks_step_bx .privacy_info small {
    margin: 0 auto;
    width: max-content;
    display: block;
}

.all_steps { padding-bottom: 24px; }
.thanks_step_bx h1,
.all_steps h5 {
    padding: 0 0 12px 0;
    font-weight: 400;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.all_steps h5 {
    padding-right: 55px;
    line-height: 26px;
}
.thanks_step_bx p,
.all_steps p {
    padding: 0;
    font-weight: 400;
    color: var(--blackLightColor);
}
.thanks_step_bx p { padding-bottom: 12px; }
.thanks_step_bx .step_header_area { margin-bottom: 12px; }

/*-----step_header_mobile-----*/
.step_header_mobile { overflow: hidden; }
.step_header_area { 
    position: relative; 
    margin-bottom: 9px; 
    height: 33px; 
}
/* .step_header_area::before, */
.step_header_area::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    z-index: 1;
}
.step_header_max {
    justify-content: space-between;
}
.step_col {
    position: relative;
    width: 50%;
    z-index: 2;
}
.step_col_item {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3;
    background-color: transparent;
    padding-right: 0;
}
.step_col:nth-child(1) {
    justify-content: flex-end;
    width: 36%;
}
.step_col:nth-child(1) .step_col_item {
    justify-content: flex-end;
}

.step_col:nth-child(2) {
    justify-content: flex-end;
    width: 36%;
}
.step_col:nth-child(2) .step_col_item {
    justify-content: flex-start;
}
.step_col_item span {
    position: relative;
    border-radius: 50%;
}
.step_col_item span {
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
}
.step_col_item span small {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 0;
    width: initial;
    position: relative;
    z-index: 99;
}
.step_col_item span::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
}
.step_col_item.active span {}

.step_col_item.step_completed span {
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
}
.step_col_item.step_completed span::after {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    background-image: url('assets/images/setp_check_icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px auto;
    border: 0;
}
.step_col_item.step_completed span small {
    z-index: -1;
}

/*----form_style----*/
.fild_step_col,
.fild_step_col,
.fild_step_col,
.panels_step_active { display:block; }

/*====== frm stp info css ======*/
.setp_info {
    display: none;
    padding-bottom: 24px;
}
.setp_info p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.thanks_step .setp_info p {
    text-align: center; 
    padding-bottom: 25px; 
}
.thanks_step .setp_info p:last-child {
    padding-bottom: 0; 
}
.tp_w100 { width: 100%; }
.tp_w50 { width: 50%; }
.tp_w53 { width: 53.3%; }
.tp_w44 { width: 44.3%; }
.tp_w43 { width: 43%; }
.tp_w40 { width: 40%; }
.tp_w38 { width: 38.42%; }
.tp_w37 { width: 38.31%; }
.tp_w27 { width: 27.1%; }
.tp_w23 { width: 23.16%; }
.tp_w19 { width: 19.6%; }

/*---------- male female check btn css ----------*/
.male_female_check_row {}
.male_female_check_box {}
.male_female_item_col {
    padding: 0 8px;
}
.male_female_item {
    position: relative;
    display: flex;
    align-items: center;
}
.male_female_item input[type=checkbox], 
.male_female_item input[type=radio] {
    position: absolute;
    visibility: hidden;
}
.male_female_item input[type=checkbox]:hover ~ label,
.male_female_item input[type=radio]:hover ~ label {
    color: #FFFFFF;
}
.male_female_item input[type=checkbox]:checked ~ label,
.male_female_item input[type=radio]:checked ~ label {
    color: #FFFFFF;
}

.male_female_item input[type=checkbox]:hover ~ .check, 
.male_female_item input[type=radio]:hover ~ .check {
    background-color: #F8703B;
    border-color: #fff;
}
.male_female_item input[type=checkbox]:checked ~ .check, 
.male_female_item input[type=radio]:checked ~ .check {
    background: #F8703B;
    border-color: #fff;
}
.male_female_item label {
    display: block;
    position: relative;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--whileColor);
    height: auto;
    padding-left: 5px;
} 
.male_female_item input[type=radio]:checked ~ label {
    color: #FFFFFF;
}
.male_female_item input[type=checkbox]:hover ~ .check img,
.male_female_item input[type=radio]:hover ~ .check img,
.male_female_item input[type=checkbox]:checked ~ .check img,
.male_female_item input[type=radio]:checked ~ .check img {
    filter: brightness(0) invert(1);
}
.male_female_item.field_valid .check {
    border-color: #23D455;
}
.male_female_item.field_error .check {
    border-color: #FF756C;
}
.male_female_item .check {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid var(--whileColor);  
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.male_female_item .check .error_male_icon,
.male_female_item .check .error_famale_icon {
    position: absolute;
    width: auto;
    height: auto;
    top: 16px;
    left: 24px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}
.male_female_item.field_error .check .error_male_icon,
.male_female_item.field_error .check .error_famale_icon {
    opacity: 1;
    visibility: visible;
}
.male_female_item.field_error .check .normal_male_icon,
.male_female_item.field_error .check .normal_famale_icon {
    opacity: 0;
    visibility: hidden;
}

.tp_field_wrap { padding-bottom: 24px; }
.tp_field_box {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    position: relative;
    margin: 0 -6px;
    padding-bottom: 24px;
}
.tp_field_nowrap {
    flex-wrap: nowrap;
}
.tp_field_box_row:last-child .tp_field_box { padding-bottom: 0; }

.tp_field_row.select_row {
    width: 120px;
    min-width: 120px;
}
.tp_field_row {
    position: relative;
    padding: 0 6px;
}
.tp_field_item {
    position: relative;
}
.tp_field_item.post_icon::before,
.tp_field_item.house_icon::before,
.tp_field_item.tel_icon::before,
.tp_field_item.mail_icon::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 38px;
    left: 12px;
    z-index: 4;
    top: 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px auto;
}
.tel_icon::before {
    background-image: url('assets/images/bi_telephone.svg');
}
.mail_icon::before {
    background-image: url('assets/images/bi_envelope.svg');
}
.tp_field_item .tp_input_filed {
    font-weight: 400;
    font-size: 13.2px;
    line-height: 21px;

    color: var(--blackLightColor2);
    width: 100%;
    height: 38px;
    outline-style: none;
    background-color: #F8F8FA;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    padding: 5px 10px 5px 12px;
}

.tp_field_item input:-webkit-autofill {
    -webkit-text-fill-color: color: var(--blackLightColor);
}
.tp_field_item input:-webkit-autofill,
.tp_field_item input:-webkit-autofill:hover,
.tp_field_item input:-webkit-autofill:focus,
.tp_field_item input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 35px #F8F8FA inset !important;
}

/* .tp_field_item .tp_input_filed::placeholder {
    color: var(--blackAzureColor);
}
.tp_field_item .tp_input_filed::-webkit-input-placeholder {
   color: var(--blackAzureColor);
}
.tp_field_item .tp_input_filed::-moz-placeholder {
    color: var(--blackAzureColor);
}
.tp_field_item .tp_input_filed:-ms-input-placeholder {
   color: var(--blackAzureColor);
}
.tp_field_item .tp_input_filed::-moz-placeholder {
    color: var(--blackAzureColor);
} */
.tp_textarea_field .tp_input_filed {
    font-style: italic;
    width: 100%;
    min-height: 96px;
    padding-top: 10px;
}

/* .tp_field_item .tp_input_filed:focus ~ label.tplabel, 
.tp_field_item .tp_input_filed:not(:placeholder-shown) ~ label.tplabel {
    top: -8px;
    left: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #201F21;
    text-align: center;
    background-color: transparent;
    padding: 3px 2px 4px 2px;
} */
.tp_field_item label.tplabel {
    font-weight: 400;
    font-size: 13.2px;
    line-height: 21px;
    color: var(--skyColor);

    position: absolute;
    pointer-events: none;
    display: block;
    pointer-events: none;
    position: absolute;
    left: 16px;
    top: 18px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
 
.tp_field_row label.tplabel {
    font-weight: 400;
    font-size: 13.2px;
    line-height: 21px;
    color: var(--skyColor);
}

.tp_field_item .tp_input_filed:active,
.tp_field_item .tp_input_filed:focus {
    color: var(--blackLightColor);
    border-color: var(--skyColor);
}
.tel_icon.tp_field_item label.tplabel,
.mail_icon.tp_field_item label.tplabel { left: 38px; }

.tel_icon .tp_input_filed,
.mail_icon .tp_input_filed { padding-left: 38px; }

.field_valid .tp_input_filed,
.field_error .tp_input_filed {
    padding-right: 30px;
}
.field_valid .tp_input_filed {
    border-color: #39A54C;
    color: var(--blackLightColor);
}
.field_error .tp_input_filed {
    border-color: #FF2E00;
    color: var(--blackLightColor);
}
.tp_field_item.field_error::after,
.tp_field_item.field_valid::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    right: 14px;
    top: 12px;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 13px auto;
}
.tp_field_item.field_valid::after {
    background-image: url('assets/images/valid_icon.svg');
}
.tp_field_item.field_error::after {
    background-image: url('assets/images/error_icon.svg');
}

/*=========== wp check box css ===========*/
.checkbox_wrap {
    width: auto;
    margin: 0;
    padding-bottom: 24px;
}
.checkbox_item {
    display: flex;
    align-items: flex-start;
}
.checkbox_item .wpcf7-list-item-label,
.wpcf7-list-item-label {
    font-weight: 400;
    font-size: 13.2px;
    line-height: 21px;
    color: var(--blackLightColor);

    position: relative;
    cursor: pointer;
    display:block;
    padding-bottom: 0;
}
.checkbox_item .first .wpcf7-list-item-label {
    display: flex;
    align-items: center;
}
.checkbox_normal .wpcf7-list-item-label a,
.checkbox_normal .wpcf7-list-item-label {color: var(--skyColor);}

.checkbox_normal .wpcf7-list-item-label { display:block}
.checkbox_normal .wpcf7-list-item-label a { text-decoration:underline}
.wpcf7-list-item-label span {
    color: rgba(11, 35, 63, 0.8);
}
.checkbox_item .wpcf7-list-item-label a {
    color: var(--skyColor); 
    font-weight: 400; 
    text-decoration:underline;
}
.wpcf7-list-item input + .wpcf7-list-item-label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1px solid var(--blackLightColor);
    border-radius: 50px;
    margin-right: 0;
    position:relative;
    top:0;
}
.wpcf7-list-item input { position: absolute; }
.wpcf7-list-item input + .wpcf7-list-item-label:before {
    background-color: transparent;
}
.field_error.wpcf7-list-item input + .wpcf7-list-item-label:before {
    border-color:#FF2E00;
}
.field_valid.wpcf7-list-item input + .wpcf7-list-item-label:before {
    border-color: var(--blackLightColor);
}
.wpcf7-list-item input:checked + .wpcf7-list-item-label:before {
    background: none;
}

.wpcf7-list-item input:disabled + .wpcf7-list-item-label {
    color: #313131;
    cursor: auto;
    font-size:18px;
    line-height:1;
}
.wpcf7-list-item input:disabled + .wpcf7-list-item-label:before {
    box-shadow: none;
}
span.wpcf7-list-item {
    position:relative;
    display: flex;
    padding-right: 3px;
    padding-bottom: 0;
}
.wpcf7-list-item input[type="radio"] {
    width: 20px;
    height: 20px;
    background: #edf7f4;
    border: 1px solid #edf7f4;
    border-radius: 4px;
    position: absolute;
    left: -4px;
    z-index: 50;
    top: -1px;
    opacity: 0;
}
.wpcf7-list-item input:checked + .wpcf7-list-item-label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 8px;
    background-color: var(--greenColor);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
span.wpcf7-list-item-label::before, 
span.wpcf7-list-item-label::after {
    content: " ";
}

.next_btn_wrap,
.submin_btn_wrap {}

.next_stp_btn,
.submin_btn {
    width: 100%;
    height: 58px;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--whileColor);

    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}
.submin_btn:hover,
.next_stp_btn:hover {
    background-color: #39A54C;
    box-shadow: 7px 7px 30px -3px rgba(0, 0, 0, 0.2);
    border-color:#39A54C;
}
.next_stp_btn span,
.submin_btn span {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--whileColor);
    position: relative;
    z-index: 3;
    padding: 0;
}

.valid_msg,
.error_msg {
    font-weight: 400;
    font-size: 12.4px;
    line-height: 20px;
    color: #39A54C;
    display: none;
}
.two_in_one.valid_msg { display: none; }
.two_in_one.error_msg {
    width: 93.3%;
    height: 17px;
    display: block;
    background: linear-gradient(0deg, rgba(255, 117, 108, 0.2), rgba(255, 117, 108, 0.2)), #F6F6F6;
    border-radius: 2px;
    display: flex;
    align-items: center;
    right: 0;
    margin: 4px auto 0 auto;
    position: static;
    padding: 2px 4px;
}
.select_row.field_valid .valid_msg,
.tp_field_item.field_valid .valid_msg {
    display: block;
}
.select_row.field_error .error_msg,
.tp_field_item.field_error .error_msg {
    color: #FF2E00;
    display: block; 
}

/*------------- dropzie -------------*/
.dropzie {
    position: relative;
    font-size: 16px;
    outline: none;
    color: #412347;
    
}
.customDropzieToggle {
    position: relative;
}
.dropzieToggle {
    -webkit-appearance: none;
    outline: none;
    color: inherit;
    width: 100%;
    height: 38px;
    text-align: left;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F8F8FA;
    padding: 8px 25px 8px 12px;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    display: flex;
    align-items: center;
}
.active .dropzieToggle {
    border-radius: 8px 8px 0 0;
    border-color: var(--skyColor);
    border-bottom-color: transparent;
}
.field_valid .dropzieToggle {
    border-color: #39A54C;
    color: var(--blackColor);
}
.field_error .dropzieToggle {
    border-color: #FF2E00;
    color: var(--blackColor);
}
.dropzieToggle::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 1px;
    width: 27px;
    height: 32px;
    background-color: #F8F8FA;
    border-radius: 0 8px 8px 0;
    background-image: url('assets/images/down_arrow.svg');
    transform: scaleY(1);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 9px auto;
    z-index: 2;
}
.active .dropzieToggle::after {
    transform: scaleY(-1);
}
.field_error .dropzieToggle::after,
.field_error .active .dropzieToggle::after {
    background-position: right 0px center;
    background-size: 12px auto;
    background-image: url('assets/images/error_icon.svg');
    right: 13px;
    width: 13px;
}
.field_valid .dropzieToggle::after,
.field_valid .active .dropzieToggle::after {
    background-position: right 6px center;
    background-size: 12px auto;
    background-image: url('assets/images/valid_icon.svg');
}
.dropzieMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    border-top: none;
    background-color: #F8F8FA;
    border: 1px solid var(--skyColor);
    border-top: 0;
    margin-top: -1px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    border-radius: 0 0 8px 8px;
    padding: 0 0 8px 0;
}
.dropzie.active .dropzieMenu {
    opacity: 1;
    pointer-events: all;
}   
.dropzieSearch {
    font: inherit;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    padding: 8px 14px;
    width: 100%;
    box-sizing: border-box;
    display: none;
}
.dropzieOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 12px;
    position: relative;
    font-weight: 400;
    font-size: 13.2px;
    line-height: 21px;
    color: var(--blackColor);
}
.dropzieOption:hover,
.dropzieOption.hov {
    color: var(--skyColor);
}         
.dropzieOption[data-selected="true"] {
    font-weight: 500;
}
.dropzieOption[data-selected="true"]::after {
    display: none;
}

/*------- thx you step loading css -------*/
.circle_loading_box {
    width: 100%;
    padding: 40px 0 30px 0;
}
.circle_loading_box .circle {
    position: relative;
    display: flex;
    justify-content: center;
}
.circle_loading_box .countdown {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.01em;
    color: var(--whileColor);
    text-align: center;
    height: 60px;
}

.million_financed {
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    border-radius: 0px 0px 12px 12px;
    padding: 12px 15px;
    display: flex;
    justify-content: center;
}
.million_financed span {
    width: initial;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--whileColor);
    padding: 0;
    margin: 0 auto;
    background-image: url('assets/images/troffi_icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px auto;
    padding-left: 32px;
}

/*======== privacy info css ========*/
/*--------privacy-popup-area--------*/
.privacy-popup-area {
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:9999;
    background-color:rgba(0,0,0,0.6);
    padding:40px 15px 25px;
    display:none;
    overflow:auto;
}
.privacy-popup-bg {
    width:100%;
    position:relative;
    height:100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.privacy-popup {
    max-width:991px;
    background-color:#fff;
    padding:30px 25px;
    border-radius:15px;
    position:relative;
}
.privacy-popup h2 {
    font-weight: 700;
    color: var(--blackLightColor);
    padding-bottom: 24px;
}
.privacy-popup p {
    color: var(--blackLightColor);
}
.privacy-popup-close {
    font-size:30px;
    color:#000;
    position:absolute;
    width: 20px;
    height: 20px;
    right:20px;
    top:15px;
    z-index:2;
    cursor:pointer;
}
.privacy-popup-close .fa {
    display:block;
    line-height:1;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 0 !important;
}
.privacy_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}
.tnx_page .privacy_info { padding-top: 0px; }
.privacy_info small {
    display: block;
    font-weight: 400;
    color: var(--greenColor);
    width: max-content;
    line-height: 21px; 

    background-image: url('assets/images/mdi_lock.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 11px auto;
    padding: 2px 0 0 22px;
}
.privacy_info small a {
    color: var(--greenColor);
    text-decoration: none;
    position: relative;
}
.privacy_info small a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0px;
    z-index: 1;
    background-color: var(--greenColor);
}

@media screen and (max-width: 1440px ){
    .banner_area {
        padding: 0 6.55vw;
    }

    .banner_left {
        width: 49.5%;
    }
    .form_area {
        width: 50.5%;
    }
}

@media screen and (max-width: 1366px ){
    .banner_area {
        padding: 0 4.2vw;
    }
}
@media screen and (max-width: 1280px ){
    .banner_area {
        padding: 0 4.35vw;
    }

    .banner_left {
        width: 46.4%;
        padding-right: 22px;
    }
    .banner_title h1 { padding-right: 10px; }
    .form_area {
        width: 53.6%;
    }
}

@media screen and (max-width: 991px ){
    .banner_area {
        padding: 0 35px;
    }
    .banner_wrap {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .banner_bx {
        flex-wrap: wrap;
        padding-bottom: 0px;
    }
    .banner_left {
        width: 100%;
        padding-right: 0;
        padding-bottom: 16px;
    }
    .banner_title h1 {
        word-break: initial;
    }
    .form_area {
        width: 100%;
        padding: 0 30px;
    }
    .banner_form_bg {}
    .banner_form_bgMx {
        max-width: 100%;
    }
    .mobile_listbx {
        padding-left: 0;
        padding-top: 48px;
    }

    .mobile_listbx .banner_list { padding-bottom: 0; }
}

@media screen and (max-width: 766px ){
    .fild_step_col,
    .fild_step_col,
    .fild_step_col { display:none; }
    .panels_step_active { display: block; }
    .mb_db { display: block !important; }

    .banner_area { padding: 0 24px; }
    .banner_wrap {
        padding: 24px 0 40px 0;
    }
    .banner_title small {
        padding: 0;
        font-size: 11px;
        line-height: 18px;
    }
    .banner_title h1 {
        padding-bottom: 12px;
        padding-right: 0;
        letter-spacing: -0.32px;
    }

    .form_area {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .banner_form_wrap {
        padding: 0;
    }

    .banner_left {
        padding-bottom:24px;
    }
    .right_rebbon_batch,
    .left_rebbon_batch { display: none; }
    .all_steps { padding-bottom: 12px; }
    .all_steps h5,
    .all_steps p {
        padding-right: 0;
    }
    .all_steps h5 {
        line-height: 21px;
    }
    .all_steps p {
        font-weight: 400;
        font-size: 14.664px;
        line-height: 24px;
    }
    .banner_form_bg {
        padding: 24px;
    }
    .banner_title { padding-bottom: 0; }
    .male_female_check_row .tp_field_box { padding-bottom: 18px; }
    .male_female_check_row  .tplabel {}
    .tp_field_wrap {
        padding-bottom: 0px;
    }
    .tp_field_box { flex-wrap: wrap; }
    .tp_field_row {
        width: 100%;
        padding-bottom: 12px;
    }
    .tp_field_row.select_row {
        width: 100%;
        min-width: 100%;
    }
    .tp_field_row.tp_w40,
    .tp_field_row.tp_w43 {
        width: 100%;
    }
    .tp_field_item .tp_input_filed {
        font-size: 16px;
        line-height: 26px;
        width: 100%;
        height: 42px;
    }
    .tp_field_item.field_error::after, 
    .tp_field_item.field_valid::after { top: 14px; }
    .tp_field_item.post_icon::before, 
    .tp_field_item.house_icon::before, 
    .tp_field_item.tel_icon::before, 
    .tp_field_item.mail_icon::before {
        height: 42px;
    }

    .checkbox_wrap { padding-bottom: 12px; }
    .wdl_site {
        background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .mobile_listbx { padding-top: 24px; }

    .million_financed {
        padding-left: 28px;
        padding-right: 28px;
    }

    .privacy_info {
        align-items: center;
        padding-top: 10px;
    }

    .thanks_step_bx { padding: 0; }
    .thanks_step_bx h3 { padding-bottom: 16px; }
}

/*-------- works_area --------*/
.works_area {
    padding: 0 24px;
    background-color: var(--whileColor);
}
.works_wrap {
    width: 100%;
    padding: 77px 0;
}
.title_style { padding-bottom: 32px; }
.title_style h2 {
    font-weight: 500;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 0;
}
.works_title {}
.works_title h2 {
    max-width: max-content;
}
.works_bx {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0 35px;
}
.works_col {}
.works_col_inner {
    position: relative;
    padding-left: 40px;
    height: 100%;
}
.works_col_inner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 1;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
}
.works_col:last-child .works_col_inner::after { display: none; }
.works_col_icon {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 3;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.works_col_icon img {
    width: 45px !important;
}
.works_col_inner_bg {
    background-color: var(--whileColor);
    border: 1px solid #E2E2E2;
    box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 32px 24px 32px 60px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.works_col_inner_bg h5 {
    padding: 0;
    font-weight: 400;
    color: var(--blackLightColor);

}

@media screen and (max-width: 1440px ){
    .works_area {
        padding: 0 6.55vw;
    }
    .works_bx {
        gap: 0 72px;
    }
}

@media screen and (max-width: 1366px ){
    .works_area {
        padding: 0 4.2vw;
    }
}

@media screen and (max-width: 1280px ){
    .works_area {
        padding: 0 4.35vw;
    }
    .works_bx {
        gap: 0 30px;
    }
}

@media screen and (max-width: 991px ){
   .works_area {
        padding: 0 35px;
    }
    .works_wrap {
        padding: 48px 0;
    }
    .works_title h2 {
        text-align: center;
        margin: 0 auto;
    }
    .works_bx {
        gap: 65px 0;
        flex-wrap: wrap;
    }
    .works_col {
        width: calc(calc(100%) / 1);
    }
    .works_col_inner {
        position: relative;
        padding-left: 0;
        padding-top: 40px;
    }
    .works_col_inner::after { display: none; }
    .works_col_icon {
        right: 0;
        bottom: initial;
        margin: 0 auto;
    }
    .works_col_inner_bg {
        width: 100%;
        justify-content: center;
        padding-top: 61px;
        padding-right: 32px;
        padding-left: 32px;
    }
    .works_col_inner_bg h5 {
        text-align: center;
    }
}

@media screen and (max-width: 766px ){
    .works_area {
        padding: 0 24px;
    }
    .works_wrap {
        padding: 40px 0;
    }
    .works_bx {
        gap: 32px 0;
        flex-wrap: wrap;
    }
    .works_col_inner_bg h5 {
        font-size: 24px;
        line-height: 26px;
    }

}

/*---------- entrepreneurs_area ----------*/
.entrepreneurs_area {
    padding: 0 24px;
    background-color: #F8F8FA;
}
.entrepreneurs_wrap {
    width: 100%;
    padding: 77px 0;
}
.entrepreneurs_bx {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.entrepreneurs_left {
    width: 54.4%;
    width: 52%;
    padding-right: 47px;
}
.entrepreneurs_title { padding-bottom: 0; }
.entrepreneurs_title h3 {
    font-weight: 600;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-bottom: 10px;
}
.entrepreneurs_title p {
    font-weight: 400;
    color: var(--blackLightColor);
}
.entrepreneurs_title p:last-of-type { padding-bottom: 0; }
.entrepreneurs_slider_bx {
    width: 47%;
}
.entrepreneurs_carouselslider {
    padding-bottom: 52px;
    padding-left: 55px;
    padding-right: 55px;
}
.entrepreneurs_carouselslider_item {}
.entrepreneurs_carouselslider_info {
    width: 100%;
/*     max-width: 410px; */
    margin: 0 auto;
}
.entrepreneurs_carouselslider_info p {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--blackColor);
}
.entrepreneurs_carouselslider_info p:last-of-type { padding-bottom: 0; }

@media screen and (max-width: 1440px ){
    .entrepreneurs_area {
        padding: 0 6.55vw;
    }
    .entrepreneurs_left {
        width: 53%;
    }
    .entrepreneurs_slider_bx {
        width: 45%;
    }
}

@media screen and (max-width: 1366px ){
    .entrepreneurs_area {
        padding: 0 4.2vw;
    }
}

@media screen and (max-width: 1280px ){
    .entrepreneurs_area {
        padding: 0 4.35vw;
    }
    .entrepreneurs_left {
        width: 57.4%;
    }
    .entrepreneurs_slider_bx {
        width: 42%;
    }
}

@media screen and (max-width: 991px ){
    .entrepreneurs_area {
        padding: 0 35px;
    }
    .entrepreneurs_wrap {
        padding: 48px 0;
    }
    .entrepreneurs_left {
        width: 100%;
        padding-bottom: 75px;
        padding-right: 0;
    }
    .entrepreneurs_slider_bx {
        width: 100%;
    }
    .entrepreneurs_carouselslider { padding-bottom: 65px; }
}

@media screen and (max-width: 766px ){
    .entrepreneurs_area {
        padding: 0 24px;
    }
    .entrepreneurs_wrap {
        padding: 40px 0;
    }
    .entrepreneurs_left {
        padding-bottom: 62px;
    }
    .entrepreneurs_title p br { display: none; }
    .entrepreneurs_title p {
        font-size: 14px;
        line-height: 24px;
    }
    .entrepreneurs_carouselslider {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 80px;
    }
    .entrepreneurs_carouselslider_info p {
        font-size: 19px;
        line-height: 21px;
    }
    .owl-carousel .owl-nav {
        margin: 0;
        bottom: 0;
        top: initial;
        align-items: flex-end;
    }
    .owl-carousel .owl-dots {
        bottom: 9px;
    }
}

/*---------- offer_wdl_area ----------*/
.offer_wdl_area {
    padding: 0 24px;
    background: url('assets/images/bg_facts.png'), linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}
.offer_wdl_wrap {
    width: 100%;
    padding: 77px 0;
}
.offer_wdl_title {}
.offer_wdl_title h2 {
    color: var(--whileColor);
    background: none;
    -webkit-text-fill-color: initial;
    text-fill-color: initial;
    text-align: center;
}
.offer_wdl_bx {
    display: flex;
    flex-wrap: wrap;
    gap: 0 32px;
    padding-bottom: 32px;
}
.offer_wdl_col {
    width: calc(calc(100% - 64px) / 3);
}
.offer_wdl_col_bg {
    background-color: var(--whileColor);
    border: 1px solid #E2E2E2;
    box-shadow: 7px 7px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 24px;
    height: 100%;
}
.offer_wdl_col_bg h4 {
    font-weight: 600;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    padding-bottom: 12px;
}
.offer_wdl_col_bg p {
    color: var(--blackLightColor);
}
.offer_wdl_col_bg p:last-of-type { padding-bottom: 0; }

@media screen and (max-width: 1440px ){
    .offer_wdl_area {
        padding: 0 6.55vw;
    }
}

@media screen and (max-width: 136px ){
    .offer_wdl_area {
        padding: 0 4.2vw;
    }
}

@media screen and (max-width: 1280px ){
    .offer_wdl_area {
        padding: 0 4.35vw;
    }
}

@media screen and (max-width: 991px ){
    .offer_wdl_area {
        padding: 0 35px;
    }
    .offer_wdl_wrap {
        padding: 48px 0;
    }
    .offer_wdl_bx {
        gap: 32px 0;
        padding-bottom: 32px;
    }
    .offer_wdl_col {
        width: calc(calc(100% - 0px) / 1);
    }
}

@media screen and (max-width: 766px ){
    .offer_wdl_area {
        padding: 0 24px;
    }
    .offer_wdl_wrap {
        padding: 40px 0;
    }
    .offer_wdl_area .common_btn {
        padding: 10px 15px;
        width: 100%;
    }
    .offer_wdl_col_bg h4 {
        text-align: left;
    }
}

/*------- why_wdl_area -------*/
.why_wdl_area {
    padding: 0 24px;
    background-color: var(--whileColor);
}
.why_wdl_wrap {
    width: 100%;
    padding: 77px 0;
}
.why_wdl_title {}
.why_wdl_title h2 {
    padding-bottom: 10px;
    max-width: max-content;
}
.why_wdl_title p {
    padding: 0;
    font-weight: 400;
    color: var(--blackLightColor);
}
.why_wdl_bx {
    display: flex;
    flex-wrap: wrap;
    gap: 0 32px;
}
.why_wdl_imgcol {
    width: calc(calc(100% - 32px) / 2);
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    box-shadow: 7px 7px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 16px;
}
.why_wdl_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
}
.why_wdl_img img {
    height: 100%;
    object-fit: cover;
    width: 100% !important;
}
.why_wdl_content {
    width: calc(calc(100% - 32px) / 2);
}
.why_wdl_content_inner { padding-bottom: 48px; }
.why_wdl_content_row { padding-bottom: 48px; }
.why_wdl_content_row:last-child { padding-bottom: 0; }
.why_wdl_content_row h5 {
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-bottom: 11px;
}
.why_wdl_content_row p {
    font-weight: 400;
    color: var(--blackLightColor);
}
.why_wdl_content_row p:last-child { padding-bottom: 0; }
.why_wdl_content .common_btn {
    color: var(--skyColor);
    border-color: var(--skyColor);
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
}
.why_wdl_content .common_btn:hover {
    color: var(--whileColor);
    border-color: #39A54C;
}

@media screen and (max-width: 1440px ){
    .why_wdl_area {
        padding: 0 6.55vw;
    }
}

@media screen and (max-width: 1366px ){
    .why_wdl_area {
        padding: 0 4.2vw;
    }
}

@media screen and (max-width: 1280px ){
    .why_wdl_area {
        padding: 0 4.35vw;
    }
}

@media screen and (max-width: 991px ){
    .why_wdl_area {
        padding: 0 35px;
    }
    .why_wdl_wrap {
        padding: 48px 0;
    }
    .why_wdl_imgcol {
        width: calc(calc(100% - 0px) / 1);
        order: 2;
        min-height: 671px;
    }
    .why_wdl_content {
        width: calc(calc(100% - 0px) / 1);
        order: 1;
        padding-bottom: 32px;
    }
    .why_wdl_content .common_btn { margin: 0 auto; }
}

@media screen and (max-width: 766px ){
    .why_wdl_area {
        padding: 0 24px;
    }
    .why_wdl_wrap {
        padding: 40px 0;
        padding-bottom: 0;
    }
    .why_wdl_content_inner {
        padding-bottom: 32px;
    }
    .why_wdl_content_row {
        padding-bottom: 32px;
    }
    .why_wdl_content_row h5 {
        font-size: 19px;
        line-height: 21px;
    }
    .why_wdl_imgcol {
        width: auto;
        margin: 0 -24px;
        min-height: 300px;
        border-radius: 0;
    }
    .why_wdl_img { border-radius: 4px; }
    .why_wdl_content .common_btn {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*-------- receive_info_area --------*/
.receive_info_area {
    padding: 0 24px;
    background: url('assets/images/bg_001.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 7px 7px 40px -10px rgba(0, 0, 0, 0.1);
}
.receive_info_wrap {
    width: 100%;
    padding: 77px 0;
}
.receive_info_max {}
.receive_info_title { padding-bottom: 48px; }
.receive_info_title h1 {
    font-weight: 600;
    color: var(--whileColor);
    text-align: center;
    padding-bottom: 0;
}
.receive_info_max .common_btn_wrap { padding-bottom: 10px; }
.receive_info_max .common_btn {
    background-color: #FF9900;
    border-color: #FF9900;
    padding-left: 48px;
    padding-right: 48px;
}
.receive_info_max .common_btn:hover {
    background-color: #39A54C;
    border-color: #39A54C;
}
.receive_info_max .million_financed {
    background: none;
    border-radius: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.million_financed span {}

@media screen and (max-width: 1440px) {
    .receive_info_area {
        padding: 0 6.55vw;
    }
}

@media screen and (max-width: 1366px) {
    .receive_info_area {
        padding: 0 4.2vw;
    }
}

@media screen and (max-width: 1280px) {
    .receive_info_area {
        padding: 0 4.35vw;
    }
}

@media screen and (max-width: 991px) {
    .receive_info_area {
        padding: 0 35px;
    }
    .receive_info_wrap {
        padding: 48px 0;
    }
    .receive_info_title h1 {
        font-size: 45px;
        line-height: 56px;
    }
}

@media screen and (max-width: 766px) {
    .receive_info_area {
        padding: 0 24px;
    }
    .receive_info_wrap {
        padding: 40px 0;
    }
    .receive_info_title {
        padding-bottom: 32px;
    }
    .receive_info_title h1 {
        font-size: 28px;
        line-height: 35px;
    }
    .receive_info_max .common_btn {
        width: 100%;
    }
    .receive_info_max .common_btn {
        background-color: #FF9900;
        border-color: #FF9900;
        padding-left: 15px;
        padding-right: 15px;
    }
    .receive_info_max .million_financed {
        padding-left: 28px;
        padding-right: 28px;
    }
}

/*------- toggle_content_area -------*/
.toggle_content_area {
    padding: 0 24px;
    background-color: #F8F8FA;
}
.toggle_content {
    padding: 77px 0;
}
.toggle_content_title h3 {
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    padding: 0;
    max-width: max-content;
    margin: 0 auto;
}
.toggle_content_holder {}
.toggle_view_item {
    border: 1px solid #E2E2E2;
    background-color: var(--whileColor);
    border-radius: 12px;
    margin-bottom: 12px;
}
.toggle_view_item:last-child { margin-bottom: 0; }
.toggle_view_bg {
    width:100%;
    position:relative;
    cursor:pointer;
    padding: 23px 55px 23px 24px;
}
.toggle_view_bg h6 {
    padding: 0;
    font-weight: 500;
    color: var(--blackLightColor);
}
.toggle_view_item.active {
    box-shadow: 7px 7px 40px -10px rgba(0, 0, 0, 0.1);
}
.toggle_view_item.active .toggle_view_bg h6 {
    color: var(--skyColor);
}
.show_details.active { display:block}
.toggle_view_bg::after {
    content: '';
    width:14px;
    height:14px;
    background-image: url('assets/images/tgl_plus.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px auto;
    display: block;
    position:absolute;
    right: 32px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.toggle_view_item.active .toggle_view_bg::after {
    height: 2px;
    background-image: url('assets/images/tgl_minus.svg');
}
.show_details {
    position: relative;
    top: -13px;
    padding: 0 24px 10px 24px;
    display:none;
}
.show_details p {
    font-weight: 400;
    color: var(--blackLightColor);
}
.show_details p:last-child {
    padding-bottom: 0px;
}

@media screen and (max-width: 1440px) {
    .toggle_content_area {
        padding: 0 6.55vw;
    }
}

@media screen and (max-width: 1366px) {
    .toggle_content_area {
        padding: 0 4.2vw;
    }
}

@media screen and (max-width: 1280px) {
    .toggle_content_area {
        padding: 0 4.35vw;
    }
}

@media screen and (max-width: 991px) {
    .toggle_content_area {
        padding: 0 35px;
    }
    .toggle_content {
        padding: 48px 0;
    }
}

@media screen and (max-width: 766px) {
    .toggle_content_area {
        padding: 0 24px;
    }
    .toggle_content {
        padding: 40px 0;
    }
}

/*------ footer_area ------*/
.footer_area {
    padding: 0 24px;
    background: linear-gradient(270deg, #319AE5 0%, #39A54C 100%);
}
.footer_wrap {
    padding: 48px 0px;
}
.footer_box {
    width: auto;
    gap: 0 12px;
}
.footer_widget {
    width: calc(calc(100% - 24px) / 3);
}
.footer_widget h6 {
    color: var(--whileColor);
    font-weight: 500;
    padding: 0;
}
.footer_widget span {
    font-size: 16px;
    line-height: 26px;
    color: var(--whileColor);
    font-weight: 400;
    padding: 0;
}
.footer_widget h6 a {
    color: var(--whileColor);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.footer_col3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_widget_list {}
.footer_widget_list ul {}
.footer_widget_list ul li {
    font-weight: 400;
    color: var(--whileColor);
    padding: 0;
    margin-bottom: 10px;
}
.footer_widget_list ul li:last-child { margin-bottom: 0; }
.footer_widget_list ul li a {
    position: relative;
    color: var(--whileColor);
}
.footer_widget_list ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--whileColor);
}
.df_logo {
    padding-top: 10px;
}
.df_logo img {
    width: 184px !important;
}

@media screen and (max-width: 1440px ){
    .footer_area {
        padding: 0 6.55vw;
    }
}

@media screen and (max-width: 1366px ){
    .footer_area {
        padding: 0 4.2vw;
    }
}

@media screen and (max-width: 1280px ){
    .footer_area {
        padding: 0 4.35vw;
    }
}

@media screen and (max-width: 991px ){
    .footer_area {
        overflow: hidden;
        padding: 0 35px;
    }
    .footer_wrap { padding-bottom: 12px; }
    .footer_widget {
        width: calc(calc(100% - 12px) / 2);
    }
    .footer_widget.footer_col3 {
        width: calc(calc(100% - 0px) / 1);
        justify-content: center;
        flex-direction: row;
        border-top: 1px solid #fff;
        margin-top: 48px;
        padding-top: 12px;
        position: relative;
    }
    .footer_widget.footer_col3::before,
    .footer_widget.footer_col3::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        z-index: 1;
        background-color: #fff;
        top: -1px;
    }
    .footer_widget.footer_col3::before {
        left: initial;
        right: 100%;
    }
    .footer_widget.footer_col3::after {
        left: 100%;
        right: initial;
    }
    .df_logo {
        position: relative;
        top: -3px;
        padding-top: 0;
    }
    .footer_widget.footer_col3 h6 {
        padding-right: 10px;
    }
    .df_logo img {
        width: 123px !important;
    }
}

@media screen and (max-width: 766px ){
    .footer_area {
        padding: 0 24px;
    }
    .footer_wrap {
        padding: 24px 0px 12px 0;
    }
    .footer_widget {
        width: calc(calc(100% - 0px) / 1);
        padding-bottom: 10px;
    }
    .footer_widget.footer_col3 {
        padding-bottom: 0;
        padding-top: 10px;
        margin-top: 13px;
    }
}
